.footerdis{
    background-color: #051c34 !important;
       padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.logo{

    padding: 1rem 0px;
}
.letter{
        text-align: left;
}